@font-face {
    font-family: "Young Serif";
    src: url("../assets/Young_Serif/YoungSerif-Regular.ttf");
}

@media only screen and (min-width: 500px) {
    .tilt {
        margin: 0.8em;
    }

    .card {
        height: 20em;
        width: 14em;
        perspective: 1000px;
        cursor: pointer;
    }

    .cardInner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .card.flipped .cardInner {
        transform: rotateY(180deg);
    }

    .cardFront {
        width: 100%;
        height: 100%;
        background-color: #fdd396;
        border-radius: 18px;
    }

    .cardFront img {
        width: 95%;
        height: 86%;
        margin: 0.4em 0.4em 0 0.4em;
        border-radius: 18px;
    }

    .cardFront p {
        color: black;
        font-family: "Young Serif";
        font-size: 1.2em;
        margin-top: 0;
        margin-bottom: 0.2em;
    }

    .cardFront, .cardBack {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .cardBack {
        background-image: url("../assets/card-image.jpeg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;

        transform: rotateY(180deg);
        border-radius: 18px;
    }
}
@media only screen and (max-width: 500px) {
    .tilt {
        margin: 0.8em;
    }
    
    .card {
        height: 12em;
        width: 9em;
        perspective: 1000px;
        cursor: pointer;
    }
    
    .cardInner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    .card.flipped .cardInner {
        transform: rotateY(180deg);
    }
    
    .cardFront {
        width: 100%;
        height: 100%;
        background-color: #fdd396;
        border-radius: 18px;
    }
    
    .cardFront img {
        width: 92%;
        height: 80%;
        margin: 0.3em 0.4em 0 0.4em;
        border-radius: 18px;
    }
    
    .cardFront p {
        color: black;
        font-family: "Young Serif";
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0.2em;
    }
    
    .cardFront, .cardBack {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    
    .cardBack {
        background-image: url("../assets/card-image.jpeg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    
        transform: rotateY(180deg);
        border-radius: 18px;
    }
}