@font-face {
    font-family: "Young Serif";
    src: url("../assets/Young_Serif/YoungSerif-Regular.ttf");
}

@keyframes helpAnimation {
    0% {
        transform: translateY(100%);
    } 100% {
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.hintContainer {
    position: absolute;
    right: 5em;
    bottom: 1em;
    animation: helpAnimation 0.5s ease, fadeIn 1s ease;
}

.hint {
    background-color: #17233e;
    color: white;
    font-family: "Young Serif";
    box-shadow: 0 1px 3px white, 0 -1px 3px white;
    padding: 0.3em 1em;
    margin: 1em;
    border-radius: 12px;
}